# Node
node_modules/
npm-debug.log
.env
.DS_Store

# Android/IntelliJ
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# App specific
/app/build/
/pathfinder-backend/node_modules/
*.pbf
pathfinder-backend/data/
